@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Numeric Sequence Calculator</h1>
    <p>To read how to use this calculator go to <a href="/Home/Instruction">Instruction</a> tab.</p>   
</div>

<div>
     @using (Html.BeginForm("Calculate", "Home", FormMethod.Post))
     {
        <h2>Enter number: @Html.TextBox("sequenceNumber")</h2>
        <h2>Chose sequence to display: </h2>
        <p> @Html.RadioButton("sequenceChoice", "default", true)
            All numbers up to and including the number entered </p>
        <p>@Html.RadioButton("sequenceChoice", "odd", false)
           All odd numbers up to and including the number entered</p>
        <p>@Html.RadioButton("sequenceChoice", "even", false)
           All even numbers up to and including the number entered </p>            
        <p>@Html.RadioButton("sequenceChoice", "zce", false)
           All numbers up to and including the number entered, except when:</p>            
            <ul>
                <li>a number is a multiple of 3 output C</li>
                <li>a number is a multiple of 5 output E</li>
                <li>a number is a multiple of both 3 and 5 output</li>
            </ul>
        <p>@Html.RadioButton("sequenceChoice", "fibonacci", false)
         All fibonacci number up to and including the number entered</p>
        <input type="submit" class="btn btn-primary btn-lg" value="Calculate sequence" />
     }

</div>
